$button-color: #9fd7ff;
$button-color--border: $button-color;
.button--contact {
    background: blue;
    margin-left: 1rem;
    color: white;
    border-radius: 1.5rem;
}

.c-btn {
    color: #FFF;
    display: inline-block;
    border-bottom: 4px solid $button-color--border;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $sans-serif;
    font-weight: 900;
    letter-spacing: .1em;
    padding: $h5;
    position: relative;
    transition: .2s all;
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        background: $button-color;
        height: 0%;
        transition: .2s all;
        left: 0;
        z-index: -10;
    }
    &:hover {
        padding-left: $h1;
        padding-right: $h1;
        color: #fff;
        border-color: $button-color;
        &:before {
            height: 100%;
        }
    }
}