// Tables
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: $base;
    font-size: $sml;
    width: 100%;
}

tr {}

td {
    padding: 20px 29px;
    border-color: #3a3a59;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    h5 {
        margin-top: 0;
    }
}

th {
    background-color: #1d1d26;
    border-color: #3a3a59;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    h5 {
        margin-top: 0;
    }
}