/*-------------------------------------------
    Definitions: Colors
-------------------------------------------*/

$blue: blue;
$green: green;
$orange: #ff8d00;
$red: red;
$grey: #EEEEEE;
$dark-grey: #272727;
$white: white;
$white-alt: #f7f7f7;
$black: black;
$yellow: yellow;
$l-yellow: lighten($yellow, 5%);
$light-blue: rgba(70, 93, 104, 0.4);
$vlight-blue: #9fd7ff;
// Semantic variable names
$accent-vlight: $white-alt;
$accent-light: $vlight-blue;
$accent-med: $light-blue;
$accent-dark: darken($dark-grey, 10%);
$accent-vdark: #242F4A;
$accent-alt: $red;
$alert-danger: darken($red, 20%);
$alert-warning: $l-yellow;
$alert-info: $blue;
$alert-success: $green;
$link-color: $orange;
$link-hover: $accent-vlight;
$link-active: $orange;
$link-visited: $orange;
// Components
// Colors
$color__background-body: #141414;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-screen: $grey;
$color__text-screen: #21759b;
$color__text-main: gainsboro;
$color__text-input: #666;
$color__text-input-focus: #111;
// Color selection
$color__selection: $vlight-blue;
// Text colors
$color__text-light: #fafafa !default;
$color__text-med: #f5f5f5 !default;
$color__text-dark: #1F1F1F !default;
$color__text-heading: #e5e5e5 !default;
// Create grayscale
$color__warmgray: #2B2A2A !default;
$color__coolgray: #534F4D !default;
$color__offwhite: #D7D2CB !default;
// Social
$color__link__twitter: #55ACEE !default;
$color__link__facebook: #3F5D9A !default;
$color__link__dribbble: #EA4C89 !default;
$color__link__github: #4183C4 !default;
$color__link__linkedin: #127FBA !default;
$color__link__youtube: #cd201f !default;
$color__link__instagram: #405de6 !default;
$link__decoration: none !default;
$link__decoration-hover: underline !default;

/*-------------------------------------------
    Site Structure
-------------------------------------------*/

$size__site-main: 100%;
$size__site-sidebar: 25%;
// Rem Unit Scale
$contain-lg: 110% !default;
$contain-md: 102% !default;
$contain-sm: 98% !default;
$contain: 90% !default;
$base: 1.1rem !default;
$line-height-base: 1.5 !default;
$line-height-sm: 1.3 !default;
$xsml: $base*0.6 !default;
$sml: $base*0.8 !default;
$h1: $base*3 !default;
$h2: $base*2.4 !default;
$h3: $base*2 !default;
$h4: $base*1.3 !default;
$h5: $sml !default;
$h6: $base !default;
$lead: 1.25rem !default;
$lead-weight: 600 !default;

/*-------------------------------------------
    Definitions: Fonts
-------------------------------------------*/

// Remember to make this an actual serif stack at some point
$serif: 'Heebo',
-apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Helvetica Neue",
Arial,
sans-serif !default;
$sans-serif: 'Heebo',
-apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Helvetica Neue",
Arial,
sans-serif !default;
$hero-text: 'Heebo',
sans-serif !default;
$condensed-sans-serif: 'Oswald',
-apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Helvetica Neue",
Arial,
sans-serif !default;
$monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$font__heading: $serif;
$font__body: $sans-serif;
$font__nav: $sans-serif;
$font__form: $sans-serif;
$font__lead: $sans-serif;
// Font weights
$font__weight-diet: 100;
$font__weight-base: 300;
$font__weight-strong: 600;
$font__weight-heading: $font__weight-strong;
$lead-font-size: 1.25rem !default;
$lead-font-weight: 300 !default;

/*-------------------------------------------
    Utilities
-------------------------------------------*/

$accent-border: 1px solid rgba($accent-med, 0.4);
$accent-border-thick: 5px solid $accent-light;
// Z-Index Scale
$zbot: -1;
$zbase: 0;
$zback: $zbase+1;
$zmid: $zbase+2;
$ztop: $zbase+3;
$ztiptop: $zbase+4;